*{
	margin: 0;
	padding: 0;
}
/* App.vue css */
body {
	background-image: url(./Img/hill.jpg);
	background-size: cover;
	/* height: 90vh; */
	position: relative;
	overflow-y: hidden;

}

body::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
}


#app {
	font-family: 'Preahvihear', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-image: url(../assets/Img/hill.jpg);
	background-size: cover;
	padding: 0 2rem;
}

.Logo {
	display: flex;
	justify-content: start;
}

.routerLink {
	display: flex;
	justify-content: end;
}

.routerLink a {
	font-size: 1.3rem;
	font-weight: bold;
	color: #ffffff;
	margin-right: 1.5rem;
	text-decoration: none;
}

a.router-link-exact-active {
	color: #2e6a4f;
}

.v-main {
	overflow-y: scroll;
	width: 100%;
	height: 90vh;
	color: rgb(222, 222, 222);
	-ms-overflow-style: none;
}
.v-main::-webkit-scrollbar {
	display: none;
}